/*
	Display property - change the display of the element

	inline - consuming the width of the content; examples are img and span
	block - consiming the full width of the page, thus creating line spacefor the next element; examples are div and text-blocks such as h1-h6 and p elements
	inline-block - works as inline element for the siblings but block elements outside its parent element. as long as the sibling elements are inline/inline-block, the inline-block elements will appear next to these elements.
	none - hiding the element from the website and it will not be shown visually; if the element is visually removed, other elements will adjust their position

*/

#div-1{
	background-color: green;
}

#span-1{
	background-color: purple;
	display: none;
}

#span-2{
	background-color: red;
	display: none;
}

#div-2{
	background-color: pink;
	display: inline-block;
}

#img{
	width: 250px;
	height: 250px;
	display: inline-block;
}


#p-1{
	background-color: #87cefa;
}

#p-2{
	background-color: rgb(255, 105, 180);
	width: 60%;
}

#p-3{
	background-color: yellow;
	width: 40%;
}

#span-sample{
	background-color: grey;
	width: 60%;
}

.sample{
	display: inline-block;
	width: 30%;
	border: 1px solid black;
}

.img-float{
	width: 250px;
	height: 250px;
	float: left;
}

.box{
	background-color: red;
	border: 1px solid black;
	margin: 5px;
}

.fifty-percent{
	width: 50%;
}

.one-hundred-pixels{
	width: 100px;
}

.parent{
	width: 135px;
	border: 2px solid navy;
	font-size: 30px;
}

.fifty-vw{
	width: 50vw;
}

.twenty-five-vh{
	height: 25vh;
}

/*
	rem - root element measurement; the measurement is relative to the root element which is the html.
	default: 16px;

	em - element measurement; the measurement is relative to its parent element
*/
.one-rem{
	font-size: 1rem;
}

.one-em{
	font-size: 1em;
}

.two-rem{
	font-size: 2rem;
}

.two-em{
	font-size: 2em;
}

/*ther % unit is also based on the parent element*/
.two-hundred-percent{
	font-size: 200%;
}

.background{
	min-height: 100vh;
	/*background-color: gray;*/
	/*the background image is outsourced in the internet through the use of url() value*/
	background-image:url(https://c4.wallpaperflare.com/wallpaper/43/1003/707/anime-your-name-kimi-no-na-wa-mitsuha-miyamizu-wallpaper-preview.jpg) ;
	/*background-repeat - determines whether the client/dev wants to repeat the background should it not fit the conatiner*/
	background-repeat: no-repeat;
	/*specifies the size of the backgroung image*/
	background-size: 100%;
	/*specifies the position of the background image relative to the HTML element*/
		/*the value of this property requires two: x and y*/
	background-position: center top;
	/*background-attachment - used to set whether a background image scrolls with the rest of the page or is fixed*/
	background-attachment: scroll;
}

.title{
	color: white;
	text-align: center;
	font-size: 5rem;
	/*get rid of space around the element*/
	margin: 0;
	line-height: 35rem;
}

.container-bg{
	background-color: rgba(0, 0, 0, .5);
	min-height: 100vh;
}

/*CSS POSITIONING
	static - default position for every element; this follows the normal flow of elements;

	relative - although it is still following the normal flow, it is affected by the left, bottom, right and top measurements

	absolute - positioned relative to its parent elements. the element is removed from the normal document flow. the other elements will behave as if the lement is not in the document. no space is created for the element
		-the element is positioned relative to its closest position ancestor. that means that the parent element has to have a position value other than position: static;

	fixed - similar to absolute in term of being removed from the normal flow. it is not affected by any parent element and instead it is always positioned on the element itself

	sticky - combination of relative and fixed. it acts like a relatively position element until a certain scroll point and then it acts like
*/
.parent-element{
	background-color: skyblue;
	padding: 10px;
	/*position: relative; - needed for the absolute element*/
	position: relative;
	height: 50vh;
}

.child-one{
	background-color: gray;
	padding: 10px;
}

.child-two{
	background-color: yellow;
	padding: 10px;
	/*position: static; - normal flow; is not affected by left, bottom, top, or right measurements*/
	/*position: relative; - normal flow; is affected by left, bottom, top, or right measurements*/
	/*position: absolute; - not in the normal flow; is affected by the parent/ancestor element's position*/
	/*position: fixed; - not in the normal flow; is relative to the position of the element itself*/
	position: sticky;
	top: 10px;
}

.child-three{
	background-color: gray;
	padding: 10px;
}

/*html{
	height: 800vh;
}*/

.container{
	position: relative;
}

.black-box{
	position: relative;
	z-index: 1;
	border: 2px solid black;
	height: 100px;
	margin: 30px;
}

.gray-box{
	position: absolute;
	/*gray box is above the green and black box*/
	z-index: 3;
	background: lightgray;
	height: 60px;
	width: 70%;
	left: 50px;
	top: 50px;
}

.green-box{
	position: absolute;
	z-index: 2;
	background: lightgreen;
	width: 35%;
	left: 270px;
	top: -15px;
}