/*CSS Reset*/
*{
	margin: 0;
	padding: 0;
}

/*Google Font*/
body{
	font-family: "Open Sans", sans-serif;
}

/*nav logo*/
.nav-logo{
	margin-left: 50px;
	margin-top: 10px;
	list-style-type: none;
	position: sticky;
}

/*Nav Position*/
.right-nav{
	position: sticky;
	text-align: right;
	list-style-type: none;
	margin-right: 50px;
}

.right-nav .nav{
	padding: 0;
	display: inline-block;
	margin-right: 5px;

}

/*tuitt-button*/
.tuitt-button{
	background-color: #c2195b;
	height: 40px;
	width: 120px;
	border-radius: 50px;
	font-weight: bold;
	color: white;
}

/*background image*/
#bg-image{
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	min-height: 50vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	z-index: 1;
}

/*container*/
.container{
	position: relative;
}

/*apply button*/
.apply-button{
	text-align: right;
}

/*front=bg*/
.front-bg{
	background-color: black;
	opacity: 50%;
	min-height: 50vh;
	z-index: 2;
}

/*Title font*/
.title{
	font-family: "Zilla Slab", sans-serif;
	z-index: 3;
}

/*pre footer*/
.pre-footer{
	background-color: #f7fbfb;
	height: 50vh;
}

.title-2{
	text-align: center;
	font-family: "Zilla Slab", sans-serif;
	margin-top: 100px;
	margin-bottom: 100px;
	padding-top: 50px;
	font-size: 40px;
}

.prefooter-description{
	text-align: center;
	padding-left: 25%;
	padding-right: 25%;
}

.book-button{
	background-color: #336589;
	height: 50px;
	width: 150px;
	font-weight: bold;
	border-radius: 40px;
	color: white;
}

footer>span{
	text-align: center;
}